body {
	margin: 0;
	background-image: url("deps/img/home.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*===========================================	header 	===========================================*/

.log-out-nav a{
	color: #EEEEEE;
}
.log-out-nav *:hover{
	background-color: transparent !important;
}

.log-out-nav li:nth-child(2):hover,
.log-out-nav li:nth-child(3):hover,
.log-out-nav img:hover {
	border: solid black;

}

.log-out-nav li:first-child {
	height: 50px;
    width: 50px;
    margin-right: 1rem;
	
}

.log-out-nav a{
	color: #EEEEEE;
	padding: 0 !important;
	margin-top: 1rem;
	margin-right: 1em;
}


.log-out-nav *:focus{
	background-color: transparent !important;
	
}

header h1{
	margin:auto !important;
}

.User-picture{
	width: 50px;
	height: 50px;
}


*:focus {
	outline: inherit; 
}

header h1 {
	text-align: center;
	margin-top: -0.4em;
	font-size: 3em;
	font-weight: normal;
	color: white;
}

input{
	border-radius: 0.4em;
}

header {
	background: linear-gradient(to left,#006699,#4daaca,#006699);
	padding-bottom: 1em;

	margin: 0;
}

.logo {
	width: 12em;
	height: 4em;
}



/*===========================================	board 	===========================================*/

.topic {
	background-color: rgba(20,86,110,0.8);
	color: #EEEEEE;
	margin-bottom: 1rem;
	font-size: 1.4rem;
	text-align: center;
	width: 100%;
}

.topic:hover {
	background-color: rgba(20,86,110,0.9);
	cursor: pointer;
}


.rating {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

a{
	color: #EEEEEE;
}

a:hover,
a:focus{
	color: #FFFFFF;
}

.tTopics {
	list-style-type: none;
}

.tTopics li {
    padding: 1rem;
}

/*
.tTopics li {
    counter-increment: step-counter;
}

.tTopics li:before{
    content: counter(step-counter);
    font-size: 110%;
  	background-color: transparent;
    color: #EEEEEE;
    font-weight: 900;
    padding: 3px 8px;
    border-radius: 3px;
}*/


.topics-message {
	color: #EEEEEE;
	font-weight: bold;
	font-size: 4rem;
	text-align: center;
	background-color: rgba(20,86,110,0.8);
	padding: 1rem;
	width: 80%;
	margin: auto;
	border-radius: 4rem;
	margin-bottom: 2rem;
}



.your-profile-picture img
{
	width: 50px;
	height: 50px;
}

.paging{
	width: 15rem;;
	margin: auto;
	text-align: center;
	color: white;
	font-weight: 900;
	background-color: rgb(20,86,110);
	border-radius: 3rem;
	margin-bottom: 1rem;
}

.paging button:hover{
	background-color: #2266DD;
}

button{
	background-color: transparent;
}