<!DOCTYPE html>
<html lang="en" ng-app="browseExistingQsApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Musicity - Existing Questions</title>

	<script src="jquery/jquery-1.12.0.min.js"></script>
	<script src="angularJS/angular.min.js"></script>
	<script src="browseExistingQ.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="browseExistingQ.css">
</head>
<body ng-controller="listQs">
	<header>
		<div>
			<div class = "container-fluid">
				<!-- the logo image of the website -->
				<a href = "welcomePage.html" >
					<img class="logo" src="deps/img/musicity-logo-white.png" alt="Musicity logo"> 
				</a>
				<span class="log-out-nav">
					<ul class="nav navbar-nav navbar-right">
						<li ng-click="showUserSummary(currentUsername)">
							<a href="#">
						    	<img class = "User-picture" alt = "{{currentUserNickname}}'s picture" src = "{{imageURL}}"/>
						    </a>
					    </li>
					    <li ng-click="showUserSummary(currentUsername)"><a href="#">{{currentUserNickname}}</a></li>
					    <li ng-click = "handleLogOut()"><a href="#"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
					</ul>
				</span>
			</div>
			<div>
				<h1>Existing Questions</h1>
			</div>
		</div>

	</header>

	<!-- Responsive Navbar -->

	<nav role="navigation" class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="welcomePage.html">Home</a></li>
					<li ><a href="newlySubmittedQ.html">Newly Submitted Questions</a></li>
					<li><a href="usersLeaderboard.html">View Users' Leaderboard</a></li>
					<li class="dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Questions <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="active"><a href="#">Browse Existing Questions</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="browseQByTopics.html">Browse Questions By Topics</a></li>
					</ul>
				</li>
			</ul>
	    </div><!--/.nav-collapse -->
	  </div><!--/.container -->
	</nav>
	
	
	<div class = "paging" >
		<button type="button" class="btn" ng-hide = "thisPage == 1"   ng-click="handlePrevPage()">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</button>
		<span>{{thisPage}}</span>
		<button type="button"  class="btn" ng-hide = "isLastPage == 1" ng-click="handleNextPage()">
			<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</button>
	</div>
		
	
	<p class = "Qs-message" ng-show = "questions.length == 0" >
		There are no questions to show
	</p>
	
	<p class = "Qs-message" ng-show = "questions.length > 1" >
		Top {{(thisPage - 1) * 20 + 1}} to {{(thisPage * 20) - (20 - questions.length)}} questions
	</p>
	
	<p class = "Qs-message" ng-show = "questions.length == 1" >
		The top {{(thisPage - 1) * 20 + 1}} question
	</p>
	
	<ul >
		<li class="row question" ng-repeat="q in questions">
			<div class="bg">
				<div class = "row">
					<p class = "col-md-12"> 
						{{q.text}}
					</p>
				</div> 
				<div class = "row"> 
					<div class = "col-md-4">
						{{q.timestamp}}
					</div> 

					<div class = "col-md-4" ng-hide = "q.topics.length == 0" >
						Topics:
						<span ng-repeat="topic in q.topics" class = "topicLink" ng-click = "handleTopicClick(topic)"> {{topic.name}}</span>
					</div>

					<div class="col-md-4" ng-show = "q.topics.length == 0">
						** This question has no topics **
					</div>


					<div class = "col-md-2">
						rating:   {{q.rating}}  
					</div>
					<div class = "col-md-2">
						<button type="button" class="btn"  ng-class = "{selected: q.vote > 0}" ng-click="handleLike(q,1)">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn" ng-class = "{selected: q.vote < 0}" ng-click="handleDislike(q,1)" aria-label="Left Align">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
						</button>
					</div>
					<!-- error message - self voting-->
					<div class = "row self-voting-message-div">
						<p class="col-md-6 error1" ng-show = "( errorCode === 13 ) && ( thisId === q.id ) ">
							Sorry, you can NOT vote for yourself.
						</p>
					</div>
					<div class = "row">
					  	<div class = "col-md-2 userLink" ng-click = "showUserSummary(q.authorUsername)">{{q.authorNickname}}</div>
					</div>
					<div class="container">
						<label for="answer{{q.id}}" class="answer-button">
							<label for="show-answer{{q.id}}" class="show-answer-button">
								Provide an Answer
							</label>
						</label>
						<input  class="u-hide show-answer-checkbox" type="checkbox" id="show-answer{{q.id}}">
						<form class="form-group u-hide" ng-submit="submitAns(q)">
							<textarea class="form-control" ng-model="q.providedAns" rows="5" id="answer-text{{q.id}}" placeholder = "Your Answer... (up to 300 characters)"></textarea>
							<div>
								<input class="submit-the-answer"  type="submit" value="submit"> 	
							</div>
						</form>
					</div>
				</div>
			</div>


				<ul class="answers">
					<li class="row answer" ng-repeat="ans in q.answers" ng-if="$index == 0" > <!--First answer -->
						<h2 class="answers-title">Answers:</h2>
						<div class="row">
							<p class = "col-md-12"> 
								{{q.answers[0].text}}
							</p>
						</div>
						<div class = "row"> 
							<div class = "col-md-4">
								{{q.answers[0].timestamp}}
							</div>
							<div class = "col-md-4">
								rating:   {{q.answers[0].rating}}  
							</div>
							<div class = "col-md-4">
								<button type="button" class="btn"  ng-class = "{selected: ans.vote > 0}" ng-click="handleLike(ans,0)">
									<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
								</button>
								<button type="button" class="btn" ng-class = "{selected: ans.vote < 0}" ng-click="handleDislike(ans,0)" aria-label="Left Align" ng-click="">
									<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
								</button>
							</div>
							<div class = "row self-voting-message-div">
								<p class="col-md-6 error1" ng-show = "( errorCode === 13 ) && ( thisId === ans.id ) ">
									Sorry, you can NOT vote for yourself.
								</p>
							</div>
						</div>
						<div class = "row">
						  	<div class = "col-md-4 userLink" ng-click = "showUserSummary(q.answers[0].authorUsername)">{{q.answers[0].authorNickname}}  </div>
						</div>
					</li>
					<li>
						<input  class="u-hide show-more-checkbox" type="checkbox" id="show-more{{q.id}}">

						<label ng-hide="q.answers.length < 2"  for="show-more{{q.id}}" class="show-more-label">Show More ({{q.answers.length -1}})</label>
						<label ng-hide="q.answers.length < 2"  for="show-more{{q.id}}" class="u-hide show-more-label">Show Less</label>
						<ul class="more-answers u-hide"> <!--other answer -->
							<li class="row answer" ng-repeat="ans in q.answers" ng-if="$index > 0">
								<div class="row">
									<p class = "col-md-12"> 
										{{ans.text}}
									</p>
								</div>
								<div class = "row"> 
									<div class = "col-md-4">
										{{ans.timestamp}}
									</div> 
									<div class = "col-md-4">
										rating:   {{ans.rating}}  
									</div>
									<div class = "col-md-4">
										<button type="button" class="btn"  ng-class = "{selected: ans.vote > 0}" ng-click="handleLike(ans, 0)">
											<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
										</button>
										<button type="button" class="btn" ng-class = "{selected: ans.vote < 0}" ng-click="handleDislike(ans, 0)" aria-label="Left Align" ng-click="">
											<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
										</button>
									</div>
									<div class = "row self-voting-message-div">
										<p class="col-md-6 error1" ng-show = "( errorCode === 13 ) && ( thisId === ans.id ) ">
											Sorry, you can NOT vote for yourself.
										</p>
									</div>
	
								</div>
								<div class = "row">
								  	<div class = "col-md-4 userLink" ng-click = "showUserSummary(ans.authorUsername)">{{ans.authorNickname}} </div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			<!--</div>-->
		</li>
	</ul>

	<div class = "paging" >
		<button type="button" class="btn" ng-hide = "thisPage == 1"   ng-click="handlePrevPage()">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</button>
		<span>{{thisPage}}</span>
		<button type="button"  class="btn" ng-hide = "isLastPage == 1" ng-click="handleNextPage()">
			<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</button>
	</div>
	
</body>


</html>