<!DOCTYPE html>
<html lang="eng" ng-app="topTopics">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Musicity - Top Topics</title>

	<script src="jquery/jquery-1.12.0.min.js"></script>
	<script src="angularJS/angular.min.js"></script>
	<script src="browseQByTopics.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="browseQByTopics.css">
	
	
</head>
<body ng-controller="listTopics">
	<header>
				<div>
			<div class = "container-fluid">
				<!-- the logo image of the website -->
				<a href = "welcomePage.html" >
					<img class="logo" src="deps/img/musicity-logo-white.png" alt="Musicity logo"> 
				</a>
				<span class="log-out-nav">
					<ul class="nav navbar-nav navbar-right">
						<li ng-click="showUserSummary(currentUsername)">
							<a href="#">
						    	<img class = "User-picture" alt = "{{currentUserNickname}}'s picture" src = "{{imageURL}}"/>
						    </a>
					    </li>
					    <li ng-click="showUserSummary(currentUsername)"><a href="#">{{currentUserNickname}}</a></li>
					    <li ng-click = "handleLogOut()"><a href="#"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
					</ul>
				</span>
			</div>
			<div>
				<h1>Top Topics</h1>
			</div>
		</div>
	</header>
	<!-- Responsive Navbar -->

	<nav role="navigation" class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="welcomePage.html">Home</a></li>
	        <li><a href="newlySubmittedQ.html">Newly Submitted Questions</a></li>
	        <li><a href="usersLeaderboard.html">View Users' Leaderboard</a></li>
	        <li class="active dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Questions <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="browseExistingQ.html">Browse Existing Questions</a></li>
	            <li role="separator" class="divider"></li>
	            <li class="active"><a href="browseQByTopics.html">Browse Questions By Topics</a></li>
	          </ul>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div><!--/.container -->
	</nav>
	
	<div class = "paging" >
		<button type="button" class="btn" ng-hide = "thisPage == 1"   ng-click="handlePrevPage()">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</button>
		<span>{{thisPage}}</span>
		<button type="button"  class="btn" ng-hide = "isLastPage == 1" ng-click="handleNextPage()">
			<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</button>
	</div>
	
	<p class = "topics-message" ng-show = "topTopics.length == 0" >
		There are no topics to show
	</p>
	
	<p class = "topics-message" ng-show = "topTopics.length > 1" >
		Top {{(thisPage - 1) * 20 + 1}} to {{(thisPage * 20) - (20 - topTopics.length)}} topics
	</p>

	<p class = "topics-message" ng-show = "topTopics.length == 1" >
		The top {{(thisPage - 1) * 20 + 1}} topic
	</p>

	<ul class="container tTopics">
		
		<li class="row topic" ng-repeat="topic in topTopics" ng-click = "handleTopicClick(topic)" >
			<div >
				<div class="col-md-12">
					{{topic.name}}
				</div>
			<!--  
				<div class="col-md-12 rating">
					Rating: {{topic.topicPopularity}}
				</div>-->
			</div>
		</li>
	
	</ul>
	<div class = "paging" >
		<button type="button" class="btn" ng-hide = "thisPage == 1"   ng-click="handlePrevPage()">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</button>
		<span>{{thisPage}}</span>
		<button type="button"  class="btn" ng-hide = "isLastPage == 1" ng-click="handleNextPage()">
			<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</button>
	</div>
</body>
</html>