<!DOCTYPE html>
<html lang="eng" ng-app="usersLeaderboardApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Musicity - Users' Leaderboard</title>

	<script src="jquery/jquery-1.12.0.min.js"></script>
	<script src="angularJS/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="usersLeaderboard.css">
	
	
</head>
<body ng-controller="listUser">
	<header>
		<div>
			<div class = "container-fluid">
				<!-- the logo image of the website -->
				<a href = "welcomePage.html" >
					<img class="logo" src="deps/img/musicity-logo-white.png" alt="Musicity logo"> 
				</a>
				<span class="log-out-nav">
					<ul class="nav navbar-nav navbar-right">
						<li ng-click="showUserSummary(currentUsername)">
							<a href="#">
						    	<img class = "User-picture" alt = "{{currentUserNickname}}'s picture" src = "{{imageURL}}"/>
						    </a>
					    </li>
					    <li ng-click="showUserSummary(currentUsername)"><a href="#">{{currentUserNickname}}</a></li>
					    <li ng-click = "handleLogOut()"><a href="#"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
					</ul>
				</span>
			</div>
			<div>
				<h1>Users' Leaderboard</h1>
			</div>
		</div>

	</header>
	<!-- Responsive Navbar -->

	<nav role="navigation" class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li><a href="welcomePage.html">Home</a></li>
	        <li><a href="newlySubmittedQ.html">Newly Submitted Questions</a></li>
	        <li class="active"><a href="usersLeaderboard.html">View Users' Leaderboard</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Questions <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="browseExistingQ.html">Browse Existing Questions</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="browseQByTopics.html">Browse Questions By Topics</a></li>
	          </ul>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div><!--/.container -->
	</nav>


	<ol class="container tUsers">
		<li class="row user" ng-repeat="user in topUsers">
			<div class="col-md-4"><a class = "user-nickname-link" ng-click = "showUserSummary(user.name)">{{user.nickname}}</a></div>
			<div class="col-md-4">Rating: {{user.rating.toFixed(2)}}</div>
			<div class="your-profile-picture" >
				<img ng-click = "showUserSummary(user.name)" alt = "{{user.nickname}}'s picture" id="profilePic" src="{{user.image}}">
			</div>
			<div class="col-md-12" ng-hide = "user.expertiseProfile.length == 0">
				Expertise Profile:
				<span ng-repeat="topic in user.expertiseProfile" class = "topicLink" ng-click = "handleTopicClick(topic)" > 
					{{topic.name}}
				</span>
			</div>
			<div class="row-fix"></div>
		</li>
	</ol>
</body>
</html>