<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>MusicityServlet</display-name>
    <servlet-name>MusicityServlet</servlet-name>
    <servlet-class>main.MusicityServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servletClasses.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>servletClasses.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionSubmissionServlet</display-name>
    <servlet-name>QuestionSubmissionServlet</servlet-name>
    <servlet-class>servletClasses.QuestionSubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSubmissionServlet</servlet-name>
    <url-pattern>/QuestionSubmission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionAnsweringServlet</display-name>
    <servlet-name>QuestionAnsweringServlet</servlet-name>
    <servlet-class>servletClasses.QuestionAnsweringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionAnsweringServlet</servlet-name>
    <url-pattern>/QuestionAnswering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionVotingServlet</display-name>
    <servlet-name>QuestionVotingServlet</servlet-name>
    <servlet-class>servletClasses.QuestionVotingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionVotingServlet</servlet-name>
    <url-pattern>/QuestionVoting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerVotingServlet</display-name>
    <servlet-name>AnswerVotingServlet</servlet-name>
    <servlet-class>servletClasses.AnswerVotingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerVotingServlet</servlet-name>
    <url-pattern>/AnswerVoting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewQuestionsShowingServlet</display-name>
    <servlet-name>NewQuestionsShowingServlet</servlet-name>
    <servlet-class>servletClasses.NewQuestionsShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewQuestionsShowingServlet</servlet-name>
    <url-pattern>/NewQuestionsShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistingQuestionShowingServlet</display-name>
    <servlet-name>ExistingQuestionShowingServlet</servlet-name>
    <servlet-class>servletClasses.ExistingQuestionShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistingQuestionShowingServlet</servlet-name>
    <url-pattern>/ExistingQuestionsShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopUsersShowingServlet</display-name>
    <servlet-name>TopUsersShowingServlet</servlet-name>
    <servlet-class>servletClasses.TopUsersShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopUsersShowingServlet</servlet-name>
    <url-pattern>/TopUsersShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSummaryShowingServlet</display-name>
    <servlet-name>UserSummaryShowingServlet</servlet-name>
    <servlet-class>servletClasses.UserSummaryShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSummaryShowingServlet</servlet-name>
    <url-pattern>/UserSummaryShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopTopicsShowingServlet</display-name>
    <servlet-name>TopTopicsShowingServlet</servlet-name>
    <servlet-class>servletClasses.TopTopicsShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopTopicsShowingServlet</servlet-name>
    <url-pattern>/TopTopicsShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsByTopicsShowingServlet</display-name>
    <servlet-name>QuestionsByTopicsShowingServlet</servlet-name>
    <servlet-class>servletClasses.QuestionsByTopicsShowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsByTopicsShowingServlet</servlet-name>
    <url-pattern>/QuestionsByTopicShowing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servletClasses.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>